.emailsContainer{
    background-color: rgb(0, 100, 139);
    justify-content: center;
}

.listaEmails{
    background-color: #d1d1d1;
    border-radius: 14px;
}

.tableHeader{
    text-align: start;
}

.tableDeleteEmail:hover{
    color: rgb(206, 0, 0);
}