.member_card_container{
    border: 1px solid #00000038;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .imagem{
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .nome{

    }

    .desc{

    }
}